$color1:#fff;
$color2:#F8F8F8;
$color3:#2D3748;
$color4:#718096;
$a:#D53F8c;
$namehover:#667EEA;
$namecolor:#F1D8EF;


body {
      background: $color2;
      
      color: #2D3748;
}
.form-control{
      background:#E9ECEF !important;
}

.nav_input {
      min-width: 300px;
      background: #e7e1e1;

}

.nav_bartext li a {
      color: $color4;
      font-weight: 500;
      transition: all 0.3s;

      &:hover {
            color: #666;
      }
}

.navbar {
      background: $color1;
}

.slide_1,
.slide_2,
.slide_3 {
      background-image: url("../img/c.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
}

.slide_2 {
      background-image: url("../img/b.jpg");
}

.slide_3 {
      background-image: url("../img/a.jpg");
}

.carousel-item {
      height: 550px;
}

.text_rignt {
      left: 7% !important;
}

img {
      width: 100%;
}

.carousel_ind {
      display: block;
      position: absolute;
      z-index: 11;
      right: 8%;

      .ds_ds {
            border-radius: 10px;
            overflow: hidden;
            width: 350px !important;
            height: 150px !important;
            cursor: pointer;
            display: block;
            margin: 10px;
            background: #fff;

            p {
                  display: inline;
            }
      }
}

.img1 {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 50%;
      padding: 10px;
      background: #fff;
      display: inline;
}

.body_teext {
      h4{}

      h2 {

            color: $color4;
            margin-right: 0px;
           

      }
}
.blok_section{
      .blok{
            background: $color1;
            padding: 30px;
            padding-top: 40px;
            padding-bottom: 35px;
            margin-bottom: 35px;
            transition: all 0.3s;
            border-radius: 10px;
            box-shadow: #b5989817 0px 0px 2px 3px;
            &:hover{
                transform: translateY(-5.5px);
                box-shadow: #00000040 0px 0px 5px 1px;
            }



            
            p{
                  font-weight: 500 !important;
                  font-family: Karla !important;
                  margin-top: 20px;
                  line-height: 25px;
                  color: $color4;
                  padding-bottom: 15px;
            }


            

            

      }
}
.a{
      color: $color3;
      &:hover{
            color: $color3;
      }
}
.all_block_a{
      color: #666;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.2s;
      font-size: 14px;
      &:hover{
            color: $namehover;
      }
}
.all_img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $color4;
      margin-top: 0px;
}
.all_button{
      background: $a;
      color: $color1;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      font-weight: 600;
      &:hover{
            background: $color4;
            color: $color1;
      }
}
.block_text{
      font-size: 14px;
      color: $color4;
      line-height: 20px;
  }


  .img_section{
        background: $color1;
        .imgg{
            border-radius: 20px;

            
        }
        .all_div{
              position: relative;
              transition: all 0.3s;
              border-radius: 20px;
              background: $color1;
              box-shadow: #b5989817 0px 0px 2px 3px;
              &:hover{
                  transform: translateY(-5.5px);
                  box-shadow: #00000040 0px 0px 5px 1px;
              }
        }
        .sub_brackground{
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-image: linear-gradient(#000, #000, #000);
              opacity: 0.6;
              border-radius: 20px;
        }
        .sub_div{
              position: absolute;
              margin: 20px;
              bottom: 20px;
              color: $color1;
              h4{
                  margin-bottom: 28px;
                  line-height: 30px;
              }
              .block_text{
                    color: $color1;
              }
              a{
                    color: $color1;
                    text-decoration: none;
              }
        }
  }
.all_div2{
      position: relative;
      padding: 10px;
      transition: all 0.3s;
      border-radius: 20px;
      background: $color1;
      box-shadow: #b5989817 0px 0px 2px 3px;
      margin-bottom: 35px;
      &:hover{
          transform: translateY(-5.5px);
          box-shadow: #00000040 0px 0px 5px 1px;
      }
      .img11{
            border-radius: 10px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            cursor: pointer;

      }
      h5{
            line-height: 25px;
            cursor: pointer;
      }
}

a{
      text-decoration: none !important;
}
.all_img_block{
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      cursor: pointer;

}
 
.all_blok3{
      position: relative;
      padding: 10px;
      transition: all 0.3s;
      border-radius: 20px;
      background: $color1;
      box-shadow: #b5989817 0px 0px 2px 3px;
      margin-bottom: 35px;
      &:hover{
          transform: translateY(-5.5px);
          box-shadow: #00000040 0px 0px 5px 1px;
      }
}
p{
      font-weight: 500 !important;
      font-family: Karla !important;
      color: $color4;
      
}
.contak_section{
      background: $color1;
}
.footer_section{
      background: $color1;
      a{
            color: $color4;
            font-weight: 300;
            &:hover{
                  color: #6793d5;
            }
      }
}



.lightHeader{
      background: red;
}
.atik{
      z-index: 10;
}
.darkHeader{
      background: yellow;
      z-index: 999;
}
.lightHeader{
      z-index: 999;
}

.tem_section{
      background: $color1;
      position: relative;
      .atik{
            position: absolute;
            right: 3%;
            background: $color4;
            color: $color1;
            font-weight: 500;
            transition: all 0.3s;
            &:hover{
                  background: $namehover;
            }
            
      }
}
.team_img{
      width: 120px;
      height: 120px;
      padding-top:30px ;
      padding-bottom:30px ;

      img{
            background: $color4;
            border-radius: 50%;
      }
      
}
.contact_text{
      margin-bottom: 30px;
      .display-4{
            font-weight: 600;
      }
      span{
            color: $color4;
            line-height: 27px;
            margin-bottom: 40px;
            
      }
}
.contact{
      background: $color1;
      margin-bottom: 40px;
      
      .form-control{
            background: #E2E8F0;
            margin-bottom: 20px;
            margin-top: 5px;
      }
      p{
            color: $color3;
}
}
.contact_right{
      
      h3{
            color: $color4;
            text-align: center;
      }
      .contact_right_text{
            
            padding: 20px;
            background: $color1;
            color: $color4;
            padding-top: 40px;
            padding-bottom: 40px;
            a{
                  color: $color4;
                  display: block;
                  line-height: 35px;

                  .fa{
                        font-size: 22px;
                        padding-right: 8px;
                        padding: 10px;
                        transition: all 0.3s;
                        border-radius: 50%;
                        &:hover{
                              background: $namehover;
                              color: $color1;
                        }
                  }
            }
      }
}




/* pablished23*/

.my_block{
      padding: 7px !important;
      .my_block_text{
            padding: 30px !important;
            padding-top: 15px !important;
      }
      p{
            margin-top: 5px !important;
            padding-bottom: 5px !important;
      }
}
.a_ll_img{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px;
}
.a_ll_img2{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: auto;
      width: 100%;
}
.img1_img3{
      background: url('../img/a.jpg') !important;
}
.img1_img2{
      background: url('../img/b.jpg') !important;
}
.img1_img{
      background: url('../img/c.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 550px;
      width: 100%;
      position: relative;
      
      .center_text{
            display: table-cell;
            font-family: 'Spectral', serif;
             font-weight: bold;color: #fff;
             position: absolute;
             bottom: 50px;
             left: 0;
             right: 0;
      }
      .page_subsection{
            background: $color3;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
      }
}
.page_section_text{
      background: $color1;
      padding: 30px;
      span{
            line-height: 30px;
            padding-bottom: 20px;
            display: block;
        
      }

}
.page_section_right{
      .all_img{
            width: 100px;
            height: 100px;
      }
      .background{
            background: $color1;
            padding-top: 50px;
            padding-bottom: 30px;
            padding-right: 20px;
            padding-left: 20px;
            margin-bottom:30px ;
      }
      h4{
            color: $color4;
      }
      .fa{
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background: #e0dada;
            border-radius: 50%;
            margin: 10px;
            color: $color3;
            font-size: 22px;
            transition: all 0.3s;
            &:hover{
                  background: $namehover;
                  color: $color1;
            }
      }
}







.home_right{
      .btn_light{
            background: $color1;
            a{
                  color: $color4;
                  font-weight: 500;
            }
      }
      h3{
            color: $color4;
      }
}













































div {
      margin: 0;
}
h1,
h2,
h3,
h4,
h5,h6
      {
      margin: 0;
      font-weight: bold !important;
      font-family: 'Josefin Sans', sans-serif !important;
}

@media(max-width:992px) {
      h1 {
            font-size: 38px !important;
      }

      h2 {
            font-size: 30px !important;
      }

      h3 {
            font-size: 26px !important;
      }

      h4 {
            font-size: 22px !important;
      }

      p {
            font-size: 15px !important;
      }

      .lead {
            font-size: 18px !important;
      }

      .display-1 {
            font-size: 80px !important;
      }

      .display-2 {
            font-size: 70px !important;
      }

      .display-3 {
            font-size: 60px !important;
      }

      .display-4 {
            font-size: 40px !important;
      }
}

@media(max-width:767px) {
      h1 {
            font-size: 36px !important;
      }

      h2 {
            font-size: 28px !important;
      }

      h3 {
            font-size: 24px !important;
      }

      h4 {
            font-size: 20px !important;
      }

      p {
            font-size: 14px !important;
      }

      .lead {
            font-size: 16px !important;
      }

      .display-1 {
            font-size: 70px !important;
      }

      .display-2 {
            font-size: 60px !important;
      }

      .display-3 {
            font-size: 50px !important;
      }

      .display-4 {
            font-size: 35px !important;
      }
}

@media(max-width:576px) {
      h1 {
            font-size: 34px !important;
      }

      h2 {
            font-size: 26px !important;
      }

      h3 {
            font-size: 22px !important;
      }

      h4 {
            font-size: 19px !important;
      }

      p {
            font-size: 13px !important;
      }

      .lead {
            font-size: 14px !important;
      }

      .display-1 {
            font-size: 60px !important;
      }

      .display-2 {
            font-size: 50px !important;
      }

      .display-3 {
            font-size: 40px !important;
      }

      .display-4 {
            font-size: 30px !important;
      }
}